import styles from "./{{name}}.module.css";

interface {{name}}Props {

}

export const {{name}} = (props: {{name}}Props) => {
  const {  } = props;

  return (
    <div data-testid="{{name}}" className={ styles.{{lowerCase name}} }></div>
  );
};
